<div id="home" class="save-the-date">

  <div class="save-the-date__info">
    <h1 class="text-heading">Haleigh & Sean</h1>

    <div class="text-subdued">
      <p class="text-lead">June 9, 2018</p>
      <p class="text-lead">
        Smithwood Baptist Church<br>
        Knoxville, TN
      </p>
    </div>

    <p class="js-countdown">
      <em><span class="js-countdown__days"></span> left!</em>
    </p>

  </div>

  <div class="save-the-date__image">
    <img src="assets/images/haleigh_over_sean_shoulder.jpg" alt="Haleigh and Sean" width="1620" height="1080">
  </div>

</div>
