<div id="home" class="section">

  <div class="home__left">
    <h1>Haleigh & Sean</h1>

    <div class="text-subdued">
      <p class="lead">June 9, 2018</p>
      <p class="lead">
        Smithwood Baptist Church<br>
        Knoxville, TN
      </p>
    </div>

    <p class="js-countdown">
      <em><span class="js-countdown__days"></span> left!</em>
    </p>

  </div>

  <div class="home__right">
    <img src="assets/images/IMG_5859.jpg" alt="Haleigh and Sean" width="1620" height="1080">
  </div>

</div>
