<div id="hotel" class="hotel">

  <h1 class="text-center text-heading">Hotel Accommodations</h1>

  <div>
    {% capture map-link %}
    {{ site.data.hotel.map-link }}
    {% endcapture %}

    {% include map.html link=map-link %}

    <h3>{{ site.data.hotel.venue-name }}</h3>
    <p>{{ site.data.hotel.venue-address }}</p>
    <p>
      <em>
        Make a reservation &rarr;
        <br>
        <small class="text-small-caps">[link removed]</small>
      </em>
    </p>

    {% if site.data.hotel.special-rate == 'active' %}
      <div class="hotel__note">
        <p class="text-note">
          <span class="text-small-caps">Note:</span>
          We have worked with Embassy Suites to secure a small number of rooms
          at a special rate. Please talk with Haleigh or Sean to
          <em>
            make a special rate reservation.
            <br>
            <small class="text-small-caps">[link removed]</small>
          </em>
        </p>
      </div>
    {% endif %}
  </div>

</div>
