<div id="story" class="story">

  <div class="story__wrapper">
    <h1 class="text-heading">Our Story</h1>

    <p>
      Haleigh and Sean first met at the University of Tennessee, Knoxville both
      pursuing their undergraduate degrees in music education and performance.
      Their love of music and being in band brought them closer together. During
      their sophomore year, the University of Tennessee’s Pride of the Southland
      Band took an away trip to the Tennessee-Florida game. During this time,
      Haleigh and Sean started to take notice of each other and began to spend
      time with one another which started with a nice conversation that lasted
      three hours in the hotel lobby. Two weeks later on September 27th, 2011,
      they began their journey together to what is now becoming a life-long love
      story! Love, respect, commitment, God, and family are very important to
      these two, and their love for one another shines through each and everyday.
    </p>
  </div>

</div>
