<div id="wedding" class="wedding">

  <h1 class="text-center text-heading">Wedding Details</h1>

  <div class="flex-row">
    <div class="wedding__ceremony">
      {% capture map-link %}
      {{ site.data.wedding.map-link }}
      {% endcapture %}

      {% include map.html link=map-link %}

      <h2>Ceremony</h2>
      <h3>{{ site.data.wedding.venue-name }}</h3>
      <p>{{ site.data.wedding.venue-address }}</p>
    </div>

    <div class="wedding__reception">
      {% capture map-link %}
      {{ site.data.reception.map-link }}
      {% endcapture %}

      {% include map.html link=map-link %}

      <h2>Reception</h2>
      <h3>{{ site.data.reception.venue-name }}</h3>
      <p>{{ site.data.reception.venue-address }}</p>
    </div>
  </div>

</div>
