html {
  background-color: $c-silver;
  box-sizing: border-box;
  color: $c-blue;
  font-family: $f-serif;
  font-size: calc(16px + .5vw);
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: .5em;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.text-lead {
  font-size: 1.125em;
}

.text-subdued {
  opacity: .75;
}

.text-center {
  text-align: center;
}

.text-heading {
  font-style: italic;
}

.text-link {
  color: $c-blue;
  font-style: italic;
  transition: color 150ms ease-out;

  &:hover,
  &:focus {
    color: rgba($c-blue, .6);
  }

  &:active {
    color: mix(black, $c-blue);
  }

  &:visited {
    color: $c-blue;
  }
}

.text-note {
  font-size: .85em;
}

.text-small-caps {
  font-size: .85em;
  letter-spacing: .063em;
  text-transform: uppercase;
}

.flex-map {
  margin: 1rem 0;
  padding-bottom: 75%;
  position: relative;

  iframe {
    border-radius: .25em;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
