.gallery {
  columns: 8rem;
  column-gap: .5rem;
  padding: 2rem .5rem;

  img {
    border-radius: .25em;
    float: bottom;
    margin-bottom: .5rem;
  }

  @media screen and (min-width: 40rem) {
    columns: 12rem;
  }

  @media screen and (min-width: 90rem) {
    columns: 16rem;
  }
}
