.wedding {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  padding: 2rem 0;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;

  > div {
    flex: 1 1 16rem;
    max-width: 28rem;
    margin: 1rem;
  }
}
